<template>
  <div class="not-found">
    <h1>{{ $t('notfound') }}</h1>
    <button @click="goHome()" class="btn-home">{{ $t('btnHome') }}</button>
  </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator'

@Component
class NotFound extends Vue {
  goHome() {
    this.$router.push('/');
  }
}

export default NotFound;

</script>

<style lang="scss">
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-home {
    padding: 7px 10px;

    &:hover {
      cursor: pointer;
    }
  }
</style>
