<template>
  <div class="user-list">
    <div class="user-list-head">
      <h2>{{ $t('userListTitle') }}</h2>
      <router-link
        class="btn"
        tag="button"
        :to="{ name: 'user-new'}"
      >
        {{ $t('userListBtnAdd') }}
      </router-link>
    </div>
    <div v-if="!hasUserData">{{ $t('userListEmpty') }}</div>

    <router-link
      v-for="user in users"
      :key="user.userId"
      class="user-item"
      tag="div"
      :to="{ name: 'user-detail', params: { id: user.userId }}"
    >
      {{ user.username }}
    </router-link>
  </div>

</template>

<script>
import axios from 'axios';
import { Vue, Component } from 'vue-property-decorator';

@Component
class UserList extends Vue {
  users = [];
  hasUserData = true;
  
  created() {
    /**
     * GET
     * Get all users
     */
    axios.get("http://localhost:8000/users")
      .then(response => {
        if (response.data.result.length == 0) {
          this.hasUserData = false;
        }        
        return this.users = response.data.result
      })
      .catch(error => {
        this.errorMessage = error.message;
        console.error("There was an error!", error);
      });
  }
}

export default UserList;
</script>

<style lang='scss'>
  .user-list {
    overflow: auto;
    max-height: 86%;

    .user-item {
      background: #ccc;
      border-radius: 10px;
      padding: .8rem 0 .8rem 3rem;
      margin-bottom: .8rem;

      &:hover {
        cursor: pointer;
        padding-left: 3.5rem;
        color: red;
        transition: all .7s;
        background: transparent;
        border: 1px solid red;
        font-weight: bold;
      }
    }

    &-head {
      position: relative;

      .btn {
        padding: 7px 20px;
        font-weight: bold;
        font-size: 1rem;
        margin-left: .5rem;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
          cursor: pointer;
          background: black;
          color: white;
        }
      }
    }
  }
</style>